<a [routerLink]=""></a>
<router-outlet></router-outlet>



<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
    
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
      <li class="nav-item">
          <a routerLink="getSurvey" class="nav-link" routerLinkActive="active">Survey List</a>
      </li>
      <li class="nav-item">
          <a routerLink="surveyForm" class="nav-link" routerLinkActive="active">Survey Form</a>
        </li>
    </ul>
  </nav>
  <div class="container">
    <br>
     <hr>  
     <div class="card" style="width: 95rem">
      <div class="card-body"> 

    <router-outlet></router-outlet>


      </div>
    </div>   
   </div>
<!-- <h1> 
  Welcome to the homepage!
</h1> --> 
<!--<app-home></app-home>
<app-create-survey></app-create-survey>
<app-list-survey></app-list-survey> -->



